[submodule "hdwx-modelplotter"]
	path = hdwx-modelplotter
	url = git@github.tamu.edu:samgardner4/hdwx-modelplotter.git
[submodule "hdwx-hlma"]
	path = hdwx-hlma
	url = git@github.tamu.edu:samgardner4/hdwx-hlma.git
[submodule "hdwx-adrad"]
	path = hdwx-adrad
	url = git@github.tamu.edu:samgardner4/hdwx-adrad.git
