[submodule "hdwx-modelplotter"]
	path = hdwx-modelplotter
	url = git@github.com:wx4stg/hdwx-modelplotter.git
[submodule "hdwx-hlma"]
	path = hdwx-hlma
	url = git@github.com:wx4stg/hdwx-hlma.git
[submodule "hdwx-adrad"]
	path = hdwx-adrad
	url = git@github.com:wx4stg/hdwx-adrad.git
[submodule "hdwx-mesonetplotter"]
	path = hdwx-mesonetplotter
	url = git@github.com:wx4stg/hdwx-mesonetplotter.git
[submodule "hdwx-mrms"]
	path = hdwx-mrms
	url = git@github.com:wx4stg/hdwx-mrms.git
[submodule "hdwx-activitymonitor"]
	path = hdwx-activitymonitor
	url = git@github.com:wx4stg/hdwx-activitymonitor.git
