[Unit]
Description=hdwx_cleanup
PartOf=hdwx.target

[Service]
ExecStart=$pathToPython cleanupHDWX.py $timeToPurge $targetDir
ExecStop=/bin/bash clean-all.sh
Restart=always
RestartSec=7200
RuntimeMaxSec=600
WorkingDirectory=$pathToClone
User=$myUsername
SyslogIdentifier=hdwx_cleanup

[Install]
WantedBy=hdwx.target